body{
    background-color: rgb(218, 230, 112);
}
.name{
    color: yellow ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 100px;
    background-color: red;
    border-style: dotted;
    

}
.me{
    text-align: center;
}
.main{
    border-style: double;
    
}